html,
body,
h1,
h2,
h3,
h4,
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.header {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.header p {
    margin: 0;
    padding: 0;
    color: #aaa;
    font-size: 40px;
    filter: drop-shadow(-2px -2px 1px rgba(255, 255, 255, 0.2))
        drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ buttons ~~~~~~~~~~~~~~~~~~~~~ */
/* ========== setup ========== */
.btn {
    display: flex;
    align-items: center;

    text-decoration: none;
    border-radius: 10px;
    min-height: 50px;
    min-width: 150px;
    color: #272727;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #272727;
    padding: 20px 40px;
    margin: 30px;
    position: relative;
    overflow: hidden;
}
/* ========== setup ========== */
/* ~~~~~~~ rotateIn ~~~~~~ */
#rotateIn:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff200;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 0.25s;
}
#rotateIn:hover:after {
    transform: rotate(0deg);
}
/* ~~~~~~~ rotateIn ~~~~~~ */
/* ~~~~~~~ swipeIn ~~~~~~ */
#swipeIn {
    transition: all 0.5s;
}
#swipeIn:hover {
    color: #fff;
}
#swipeIn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    color: #272727;
    background-color: #351435;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 0.5s;
}
#swipeIn:hover:before {
    transform: translateX(0);
}
/* ~~~~~~~ swipeIn ~~~~~~ */
/* ~~~~~~~ crossOut ~~~~~~ */
#crossOut {
    transition: all 0.5s;
}
#crossOut:hover {
    color: #fff;
}
#crossOut:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #262626;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: rotateX(90deg);
    transition: all 0.5s;
}
#crossOut:hover:before {
    transform: rotateX(0);
}
#crossOut:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #262626;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: rotateY(90deg);
    transition: all 0.5s;
}
#crossOut:hover:after {
    transform: rotateY(0);
}
/* ~~~~~~~ crossOut ~~~~~~ */
/* ~~~~~~~ stretchOut ~~~~~~ */
#stretchOut {
    /* color: #e1332d; */
    /* border: 3px solid #e1332d; */
    background-color: #e1332d;
    border-width: 6px;
    text-transform: uppercase;
    font-family: 'roboto';
    font-weight: 300;
    letter-spacing: -2px;
    font-size: 30px;
    transform: scale3d(100%, 100%, 100%);

    transition: all 0.5s ease-out;
}
#stretchOut:hover {
    font-weight: 900;
    letter-spacing: 10px;
    /* border: 6px solid #e1332d; */
    background-color: #f3a28e;
    border-width: 3px;
    transform: scale3d(110%, 80%, 100%);
}
/* ~~~~~~~ stretchOut ~~~~~~ */
/* ~~~~~~~ shadeIn ~~~~~~ */
#shadeIn:before {
    content: 'surprise!';
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #64ffff;
    transform: translateY(-100%);
    transition: all 0.25s ease-out;
}
#shadeIn:hover:before {
    transform: translateY(0);
}
/* ~~~~~~~ shadeIn ~~~~~~ */
/* ~~~~~~~ shineIn ~~~~~~ */
#shineIn {
    background-color: #410303;
    color: #fff;
    transition: all 0.3s;
    /* overflow: visible; */
}
#shineIn:hover {
    background-color: #da9393;
}
#shineIn:after {
    content: '';
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;

    transform: translate(-100%, 100%) rotate(45deg);
    transition: all 0.2s;
}
#shineIn:hover:after {
    transform: translate(100%, 100%) rotate(45deg);
}
/* ~~~~~~~ shineIn ~~~~~~ */
/* ~~~~~~~ checkOver ~~~~~~ */
#checkOver {
    background-color: #262626;
    color: transparent;
    /* overflow: visible; */
}
#checkOver:before {
    content: 'check over';
    color: #262626;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    transition: all 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
}
#checkOver:hover:before {
    transform: translate(100%, -100%);
}
#checkOver:after {
    content: 'check over';
    color: #262626;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    transition: all 0.5s;
    transform: translate(-100%, 100%);

    display: flex;
    align-items: center;
    justify-content: center;
}
#checkOver:hover:after {
    transform: translate(0, 0);
}
/* ~~~~~~~ checkOver ~~~~~~ */
/* ~~~~~~~ burstOut ~~~~~~ */
#burstOut:before {
    content: 'burst';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    color: #fff;
    transition: all 0.25s;
    transform: scale(5);
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
#burstOut:hover:before {
    transform: scale(1);
    opacity: 1;
}
/* ~~~~~~~ burstOut ~~~~~~ */
/* ~~~~~~~ shakeMe ~~~~~~ */
#shakeMe {
    transition: all 0.3s;
}
#shakeMe:hover {
    border: 5px solid #f44336;
    color: #f44336;

    animation: shake 0.3s linear 1;
}
@keyframes shake {
    33% {
        transform: rotate(10deg);
    }
    66% {
        transform: rotate(-10deg);
    }
    90% {
        transform: rotate(4deg);
    }
}
/* ~~~~~~~ shakeMe ~~~~~~ */
/* ~~~~~~~ shineOver ~~~~~~ */
#shineOver:after {
    content: '';
    background-color: #ffc6c6;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    position: absolute;
    z-index: -1;
    transform: skew(-15deg);
    transition: all 0.5s;
    animation: slideover 1s linear infinite;
}
#shineOver:hover:after {
    left: 0;
    width: 100%;
    /* transform: skew(0deg); */
    /* animation: none; */
}

@keyframes slideover {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}
/* ~~~~~~~ shineOver ~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ buttons ~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ images ~~~~~~~~~~~~~~~~~~~~~ */
/* ========== setup ========== */
figure {
    height: 350px;
    width: 300px;
    border: 3px solid #333;
    position: relative;
    overflow: hidden;
    object-fit: contain;
    margin: 30px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
figcaption {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    opacity: 0;
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0);
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3 {
    font-weight: 400;
    font-size: 35px;
    margin: 0;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
}
/* ========== setup ========== */
/* ~~~~~~~ fadeInRotateZoom ~~~~~~ */
#fadeInRotateZoom figcaption {
    top: 0;
}
#fadeInRotateZoom:hover figcaption {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}
#fadeInRotateZoom:hover img {
    transform: scale(1.3) rotate(15deg);
}
/* ~~~~~~~ fadeInRotateZoom ~~~~~~ */
/* ~~~~~~~ slideRightRotateZoom ~~~~~~ */
#slideRightRotateZoom figcaption {
    transform: translateX(-100%);
    opacity: 1;
    top: 0;
}
#slideRightRotateZoom:hover figcaption {
    transform: translateX(0);
    background: rgba(0, 0, 0, 0.5);
}
#slideRightRotateZoom:hover img {
    transform: scale(1.3) rotate(-15deg);
}
/* ~~~~~~~ slideRightRotateZoom ~~~~~~ */
/* ~~~~~~~ slideRightOut ~~~~~~ */
#slideRightOut img {
    transition: all 0.25s linear;
}
#slideRightOut figcaption {
    top: 0;
    opacity: 1;
    background: rgba(0, 0, 0, 1);
    transform: translate3D(-100%, 0, 0);
    transition: all 0.25s linear;
}
#slideRightOut:hover img {
    transform: translate3D(100%, 0, 0);
}
#slideRightOut:hover figcaption {
    transform: translate3D(0, 0, 0);
}
/* ~~~~~~~ slideRightOut ~~~~~~ */
/* ~~~~~~~ slideUp ~~~~~~ */
#slideUp img {
    transition: all 0.25s linear;
}
#slideUp figcaption {
    background-color: black;
    height: 35%;
    bottom: 0;
    opacity: 1;
    transform: translate3D(0, 100%, 0);
    transition: all 0.25s linear;
}
#slideUp figcaption h3 {
    margin-top: 20px;
}
#slideUp:hover figcaption {
    transform: translate3D(0, 0, 0);
}
#slideUp:hover img {
    transform: translate3D(0, -34%, 0);
}
/* ~~~~~~~ slideUp ~~~~~~ */
/* ~~~~~~~ slideUpParalax ~~~~~~ */
#slideUpParalax img {
    transition: all 0.25s linear;
}
#slideUpParalax figcaption {
    background-color: black;
    height: 36%;
    bottom: 0;
    opacity: 1;
    transform: translate3D(0, 100%, 0);
    transition: all 0.25s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* #slideUpParalax figcaption h3 {
    margin-top: 20px;
} */
#slideUpParalax:hover figcaption {
    transform: translate3D(0, 0, 0);
}
#slideUpParalax:hover img {
    transform: translate3D(0, -10%, 0);
}
/* ~~~~~~~ slideUpParalax ~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ images ~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ shadows ~~~~~~~~~~~~~~~~~~~~~ */
/* ========== setup ========== */
#shadows {
    z-index: -50;
    position: relative;
    background-color: rgb(206, 119, 56);
    padding-top: 100px;
    padding-bottom: 100px;
}
#shadows div {
    height: 200px;
    width: 300px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* z-index: 2; */
}
#shadows div p {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #999;
}
/* ========== setup ========== */
/* ~~~~~~~ shadow1 ~~~~~~ */
#shadows #shadow1 {
    box-shadow: 20px 30px 15px rgba(0, 0, 0, 0.3);
}
/* ~~~~~~~ shadow1 ~~~~~~ */
/* ~~~~~~~ shadow2 ~~~~~~ */
#shadows #shadow2:after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 90%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    transform-origin: left;
    transform: skewY(5deg);
    z-index: -1;
    filter: blur(5px);
}
/* ~~~~~~~ shadow2 ~~~~~~ */
/* ~~~~~~~ shadow3 ~~~~~~ */
#shadows #shadow3:before {
    content: '';
    position: absolute;
    bottom: 15px;

    width: 90%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    transform-origin: right;
    transform: skewY(-7deg);
    z-index: -1;
    filter: blur(4px);
}
#shadows #shadow3:after {
    content: '';
    position: absolute;
    bottom: 15px;

    width: 90%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    transform-origin: left;
    transform: skewY(7deg);
    z-index: -1;
    filter: blur(4px);
}
/* ~~~~~~~ shadow3 ~~~~~~ */
/* ~~~~~~~ shadow4 ~~~~~~ */
#shadows #shadow4:after {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 5%;
    width: 90%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    z-index: -1;
    filter: blur(5px);
}
/* ~~~~~~~ shadow4 ~~~~~~ */
/* ~~~~~~~ shadow5 ~~~~~~ */
#shadows #shadow5:after {
    content: '';
    position: absolute;
    bottom: -15%;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: -1;
    filter: blur(5px);
}
/* ~~~~~~~ shadow5 ~~~~~~ */
/* ~~~~~~~ shadow6 ~~~~~~ */
#shadows #shadow6 {
    background-color: rgb(206, 119, 56);
    border-radius: 10px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.2),
        10px 10px 15px rgba(0, 0, 0, 0.1);
}
#shadows #shadow6 p {
    color: #ccc;
}
/* ~~~~~~~ shadow6 ~~~~~~ */
/* ~~~~~~~ shadow7 ~~~~~~ */
#shadows #shadow7 {
    background-color: rgb(207, 119, 57);
    border-radius: 10px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.2),
        10px 10px 15px rgba(0, 0, 0, 0.1),
        inset -5px -5px 5px rgba(255, 255, 255, 0.2),
        inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}
#shadows #shadow7 p {
    color: #ccc;
}
/* ~~~~~~~ shadow7 ~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~ shadows ~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ spinners-200px ~~~~~~~~~~~~~~~~~~~~~ */
/* ========== setup ========== */
#spinners {
    background-color: #240229;
}
.spinnerContainer {
    margin: 30px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
}
/* ========== setup ========== */
/* ~~~~~~~ beveledCircleGradient ~~~~~~ */
#beveledCircleGradient {
    z-index: 1;
    border: 4px solid #240229;
    border-radius: 50%;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
        10px 10px 10px rgba(0, 0, 0, 0.4),
        inset -5px -5px 5px rgba(255, 255, 255, 0.2),
        inset 10px 10px 10px rgba(0, 0, 0, 0.4);
}

#beveledCircleGradient:before {
    content: '';
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #240229;
    border: 2px solid #240229;
    border-radius: 50%;
    height: 75%;
    width: 75%;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
        /* inset 5px 5px 5px rgba(255, 255, 255, 0.2), */ inset 3px 3px 3px
            rgba(0, 0, 0, 0.8);
}
#beveledCircleGradient span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
        0deg,
        rgba(195, 0, 255, 1) 0%,
        rgba(255, 0, 255, 1) 50%,
        rgba(255, 0, 160, 1) 100%
    );
    filter: blur(5px);
    animation: animate 0.5s linear infinite;
    /* ***************** need to get this drop shadow on to the absolute element ******************* */
}
@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* ~~~~~~~ beveledCircleGradient ~~~~~~ */
/* ~~~~~~~ threeRotatingBars ~~~~~~ */

#threeRotatingBars span {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    border-radius: 50%;
    border-top: 10px solid rgba(195, 0, 255, 1);
    border-right: 10px solid rgba(195, 0, 255, 1);
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    box-shadow: inset 1px solid white;
    animation: spin 2.4s linear infinite;
}
#threeRotatingBars span:before {
    content: '';
    height: 120px;
    width: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    border-radius: 50%;
    border-top: 10px solid rgba(255, 0, 255, 1);
    border-right: 10px solid rgba(255, 0, 255, 1);
    border-bottom: 10px solid rgba(255, 0, 255, 1);
    border-left: 10px solid transparent;
    animation: spin 3.7s linear infinite;
}
#threeRotatingBars span:after {
    content: '';
    height: 80px;
    width: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    border-radius: 50%;
    border-top: 10px solid rgba(255, 0, 160, 1);
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg) translate(-50%, -50%);
    }
    to {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}
/* ~~~~~~~ threeRotatingBars ~~~~~~ */
/* ~~~~~~~ ringOfCircles ~~~~~~ */
#ringOfCircles {
    filter: blur(5px) contrast(10);
    background-color: #333;
}
#ringOfCircles span {
    margin: 10px;
    position: absolute;
    border: 40px dotted rgb(252, 210, 96);
    height: 90%;
    width: 90%;
    border-radius: 50%;
}
#ringOfCircles span:before {
    content: '';
    position: absolute;
    border-top: 80px dotted rgba(252, 127, 96, 0.8);
    height: 100%;
    width: 100%;
    height: calc(100% + 80px);
    width: calc(100% + 80px);
    top: -40px;
    left: -40px;
    border-radius: 50%;
    animation: circlespin 5s linear infinite;
}
@keyframes circlespin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* ~~~~~~~ ringOfCircles ~~~~~~ */
/* ~~~~~~~ constantWavingBars ~~~~~~ */
#constantWavingBars {
    display: flex;
    padding: 20px;
}
#constantWavingBars span {
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: linear-gradient(
        0deg,
        rgba(0, 25, 37, 1) 0%,
        rgba(8, 107, 125, 1) 30%,
        rgba(0, 255, 29, 1) 95%,
        rgba(142, 255, 0, 1) 100%
    );
}
#constantWavingBars .line1 {
    animation: growLines 1s ease-in-out alternate infinite;
}
#constantWavingBars .line2 {
    animation: growLines 1s ease-in-out 0.4s alternate infinite;
}
#constantWavingBars .line3 {
    animation: growLines 1s ease-in-out 0.8s alternate infinite;
}
#constantWavingBars .line4 {
    animation: growLines 1s ease-in-out 1.2s alternate infinite;
}
#constantWavingBars .line5 {
    animation: growLines 1s ease-in-out 1.6s alternate infinite;
}
@keyframes growLines {
    from {
        height: 15px;
    }
    to {
        height: 100%;
    }
}
/* ~~~~~~~ constantWavingBars ~~~~~~ */
/* ~~~~~~~ pausingWavingBars ~~~~~~ */
#pausingWavingBars {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    justify-content: space-evenly;
}
#pausingWavingBars span {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: linear-gradient(
        0deg,
        rgba(0, 25, 37, 1) 0%,
        rgba(8, 107, 125, 1) 30%,
        rgba(0, 255, 29, 1) 95%,
        rgba(142, 255, 0, 1) 100%
    );
}
#pausingWavingBars .line1 {
    animation: pausingGrowLines 2s ease-in-out alternate infinite;
}
#pausingWavingBars .line2 {
    animation: pausingGrowLines 2s ease-in-out 0.1s alternate infinite;
}
#pausingWavingBars .line3 {
    animation: pausingGrowLines 2s ease-in-out 0.2s alternate infinite;
}
#pausingWavingBars .line4 {
    animation: pausingGrowLines 2s ease-in-out 0.3s alternate infinite;
}
#pausingWavingBars .line5 {
    animation: pausingGrowLines 2s ease-in-out 0.4s alternate infinite;
}
@keyframes pausingGrowLines {
    0% {
        height: 15px;
    }
    20% {
        height: 100%;
    }
    40% {
        height: 15px;
    }
}
/* ~~~~~~~ pausingWavingBars ~~~~~~ */
/* ~~~~~~~ test ~~~~~~ */
#test {
    background-color: black;
    display: flex;
    justify-content: space-around;
    filter: contrast(5);
}
#test .cloud {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 100px;
    width: 200px;
    filter: blur(10px);
}
#test .rain {
    height: 100px;
    width: 40px;
    background-color: white;
    border-radius: 100%;
    animation: 1s drop ease-in infinite;
    filter: blur(10px);
}
@keyframes drop {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(140px);
    }
}
/* ~~~~~~~ test ~~~~~~ */
/* ~~~~~~~ puddleWaves ~~~~~~ */
#puddleWaves {
    /* background-color: khaki; */
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(500px) rotate3d(1, 0, 0, 60deg);
}
#puddleWaves span {
    position: absolute;
    display: block;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: 3s wave ease-in-out infinite;
}
@keyframes wave {
    0%,
    100% {
        transform: translate3d(0, 0, -100px);
    }
    50% {
        transform: translate3d(0, 0, 100px);
    }
}
#puddleWaves span:nth-child(1) {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation-delay: 1.4s;
}
#puddleWaves span:nth-child(2) {
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    animation-delay: 1.3s;
}
#puddleWaves span:nth-child(3) {
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    animation-delay: 1.2s;
}
#puddleWaves span:nth-child(4) {
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    animation-delay: 1.1s;
}
#puddleWaves span:nth-child(5) {
    top: 40px;
    left: 40px;
    bottom: 40px;
    right: 40px;
    animation-delay: 1s;
}
#puddleWaves span:nth-child(6) {
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    animation-delay: 0.9s;
}
#puddleWaves span:nth-child(7) {
    top: 60px;
    left: 60px;
    bottom: 60px;
    right: 60px;
    animation-delay: 0.8s;
}
#puddleWaves span:nth-child(8) {
    top: 70px;
    left: 70px;
    bottom: 70px;
    right: 70px;
    animation-delay: 0.7s;
}
#puddleWaves span:nth-child(9) {
    top: 80px;
    left: 80px;
    bottom: 80px;
    right: 80px;
    animation-delay: 0.6s;
}
#puddleWaves span:nth-child(10) {
    top: 90px;
    left: 90px;
    bottom: 90px;
    right: 90px;
    animation-delay: 0.5s;
}
#puddleWaves span:nth-child(11) {
    top: 100px;
    left: 100px;
    bottom: 100px;
    right: 100px;
    animation-delay: 0.4s;
}
#puddleWaves span:nth-child(12) {
    top: 110px;
    left: 110px;
    bottom: 110px;
    right: 110px;
    animation-delay: 0.3s;
}
#puddleWaves span:nth-child(13) {
    top: 120px;
    left: 120px;
    bottom: 120px;
    right: 120px;
    animation-delay: 0.2s;
}
#puddleWaves span:nth-child(14) {
    top: 130px;
    left: 130px;
    bottom: 130px;
    right: 130px;
    animation-delay: 0.1s;
}
#puddleWaves span:nth-child(15) {
    top: 140px;
    left: 140px;
    bottom: 140px;
    right: 140px;
    animation-delay: 0s;
}
/* ~~~~~~~ puddleWaves ~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ spinners-200px ~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ texture ~~~~~~~~~~~~~~~~~~~~~ */
#class {
    background-color: #000;
}
/* ~~~~~~~ created cube ~~~~~~ */
#class .cubeContainer .cube {
    position: relative;
    width: 150px;
    height: 150px;
}
#class .cubeContainer .cube span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#class .cubeContainer .cube span:nth-child(1) {
    background-color: #555;
    clip-path: polygon(50% 0%, 100% 25%, 50% 50%, 0% 25%);
}
#class .cubeContainer .cube span:nth-child(2) {
    background-color: #222;
    clip-path: polygon(0% 75%, 50% 100%, 50% 50%, 0% 25%);
}
#class .cubeContainer .cube span:nth-child(3) {
    background-color: #111;
    clip-path: polygon(100% 75%, 50% 100%, 50% 50%, 100% 25%);
}
/* ~~~~~~~ created cube ~~~~~~ */
/* ~~~~~~~ created hexagon ~~~~~~ */
#class .hexagonContainer {
}
#class .hexagonContainer .hexagon {
    position: relative;
    width: 60px;
    height: 100px;
    background: #111;
}
#class .hexagonContainer .hexagon:before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 0px;
    height: 0px;
    border-right: 30px solid #111;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
#class .hexagonContainer .hexagon:after {
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 0px;
    height: 0px;
    border-left: 30px solid #111;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
/* ~~~~~~~ created hexagon ~~~~~~ */
/* ~~~~~~~ clipped hexagon ~~~~~~ */
#class .hexagonContainer2 {
}
#class .hexagonContainer2 .hexagon2 {
    position: relative;
    width: 100px;
    height: 110px;
    background: #0f0;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    animation: 5s hueSpin linear infinite;
}
@keyframes hueSpin {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
/* ~~~~~~~ created hexagon ~~~~~~ */
/* ~~~~~~~ created cube pattern ~~~~~~ */
#class .cubeContainer2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}
#class .cubeContainer2 .row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -45px;
}
#class .cubeContainer2 .row:nth-child(even) {
    margin-left: 75px;
}
#class .cubeContainer2 .row .cube {
    position: relative;
    width: 150px;
    height: 150px;
}
#class .cubeContainer2 .row .cube span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#class .cubeContainer2 .row .cube span:nth-child(1) {
    background-color: #555;
    clip-path: polygon(50% 0%, 100% 25%, 50% 50%, 0% 25%);
}
#class .cubeContainer2 .row .cube span:nth-child(2) {
    background-color: #222;
    clip-path: polygon(0% 75%, 50% 100%, 50% 50%, 0% 25%);
}
#class .cubeContainer2 .row .cube span:nth-child(3) {
    background-color: #111;
    clip-path: polygon(100% 75%, 50% 100%, 50% 50%, 100% 25%);
}
/* ~~~~~~~ created cube pattern ~~~~~~ */
/* ~~~~~~~ hexagon hover inner ~~~~~~ */
#class .hexagonContainer3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    /* margin-left: -50px; */
}
#class .hexagonContainer3 .row:nth-child(even) {
    margin-left: 100px;
    margin-top: -26px;
}
#class .hexagonContainer3 .row {
    display: flex;
    margin-top: -26px;
}
#class .hexagonContainer3 .row .hexagon3 {
    position: relative;
    width: 100px;
    height: 110px;
    margin-left: 1px;
    /* border: 1px solid white; */
    background: #111;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    animation: 5s hueSpin linear infinite;
    transition: 1s;
}
#class .hexagonContainer3 .row .hexagon3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(60deg);
    transform-origin: right;
}
#class .hexagonContainer3 .row .hexagon3:hover {
    transition: 0s;
    background-color: rgba(255, 0, 160, 0.7);
}
/* ~~~~~~~ hexagon hover inner ~~~~~~ */
/* ~~~~~~~ hexagon hover outer ~~~~~~ */
#class .hexagonContainer4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}
#class .hexagonContainer4 .row:nth-child(even) {
    margin-left: 100px;
    margin-top: -26px;
}
#class .hexagonContainer4 .row {
    display: flex;
    margin-top: -26px;
}
#class .hexagonContainer4 .row .hexagon4 {
    position: relative;
    width: 100px;
    height: 110px;
    margin-left: 2px;
    /* border: 1px solid white; */
    background: #111;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    animation: 5s hueSpin linear infinite;
    transition: 1s;
}
#class .hexagonContainer4 .row .hexagon4:after {
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    background: #111;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
#class .hexagonContainer4 .row .hexagon4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(60deg);
    transform-origin: right;
}
#class .hexagonContainer4 .row .hexagon4:hover {
    transition: 0s;
    background-color: rgba(255, 0, 160, 0.7);
}
/* ~~~~~~~ hexagon hover outer ~~~~~~ */
/* ~~~~~~~ hexagon hover area ~~~~~~ */
#class .hexagonContainer5 {
    /* overflow: hidden; */
    z-index: 100;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}
#class .hexagonContainer5 .row:nth-child(even) {
    margin-left: 100px;
    margin-top: -26px;
}
#class .hexagonContainer5 .row {
    display: flex;
    margin-top: -26px;
}
#class .hexagonContainer5 .row .hexagon5 {
    z-index: 5;
    position: relative;
    width: 100px;
    height: 110px;
    margin-left: 2px;
    /* border: 1px solid white; */
    background: #111;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 1s;
}
#class .hexagonContainer5 .row .hexagon5:after {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background: #111;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
#class .hexagonContainer5 .row .hexagon5:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(60deg);
    transform-origin: right;
}
#cursor {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    background-color: greenyellow;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: 3s hueBlur linear infinite;
}
@keyframes hueBlur {
    from {
        filter: hue-rotate(0deg) blur(50px);
    }
    to {
        filter: hue-rotate(360deg) blur(50px);
    }
}
/* ~~~~~~~ hexagon hover area ~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ texture ~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ textEffects ~~~~~~~~~~~~~~~~~~~~~ */
#textEffects {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    align-items: normal;
}
#textEffects div {
    position: relative;
    width: 50%;
    background: #20506b;
    overflow: hidden;
    display: flex;
    align-items: center;
}
#textEffects div:nth-child(1) {
    position: relative;
    width: 50%;
    background: url(image.jpg);
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
}
#textEffects div h3 {
    position: absolute;
    font-family: 'Catamaran', sans-serif;
    white-space: nowrap;
    font-size: 12em;
    animation: textScroll 180s linear infinite;
    backface-visibility: hidden;
    color: #fff;
}
#textEffects div:nth-child(1) h3 {
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: transparent;
    left: 200%;
}
#textEffects div:nth-child(2) h3 {
    left: 100%;
}
@keyframes textScroll {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ textEffects ~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ pageEffects ~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~ rainCabin ~~~~~~ */
#pageEffects > div {
    width: 1000px;
    height: 700px;
    margin-bottom: 40px;
}
#pageEffects .rainCabin {
    background-image: url('./house.jpg');
    background-size: cover;
    background-position: center;
    animation: 2s hueRotate infinite alternate;
}
#pageEffects .rainCabin:before {
    content: '';
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(rain.png);
    animation: 0.2s rain infinite;
}
@keyframes hueRotate {
    0% {
        filter: hue-rotate(0);
    }
    100% {
        filter: hue-rotate(30deg);
    }
}
@keyframes rain {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 20% 100%;
    }
}
/* ~~~~~~~ rainCabin ~~~~~~ */
/* ~~~~~~~ split ~~~~~~ */
#pageEffects .split {
    position: relative;
    background-image: url(image.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#pageEffects .split:hover #side1 {
    animation: 0.5s splitLeft ease-in-out both;
}
#pageEffects .split:hover #side2 {
    animation: 0.5s splitRight ease-in-out both;
}
#pageEffects .split div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(house.jpg);
    background-size: cover;
    background-position: center;
}
/* #pageEffects .split #blank {
    background: transparent;
} */
#pageEffects .split #side1 {
    animation: 0.5s splitLeftReverse ease-in-out;
    clip-path: polygon(
        47% 16%,
        69% 12%,
        45% 0%,
        0% 0%,
        0% 100%,
        72% 100%,
        46% 89%,
        58% 79%,
        39% 74%,
        41% 60%,
        61% 54%,
        68% 43%,
        42% 33%,
        55% 24%
    );
    /* box-shadow: 5px 5px 5px black; */
}
#pageEffects .split #side2 {
    animation: 0.5s splitRightReverse ease-in-out;
    clip-path: polygon(
        47% 16%,
        69% 12%,
        45% 0%,
        100% 0%,
        100% 100%,
        72% 100%,
        46% 89%,
        58% 79%,
        39% 74%,
        41% 60%,
        61% 54%,
        68% 43%,
        42% 33%,
        55% 24%
    );
}
@keyframes splitLeft {
    0% {
        transform: translate3d(0, 0, 0);
        /* opacity: 1; */
    }
    80% {
        transform: translate3d(-30%, 0, 0);
        /* opacity: 1; */
    }
    100% {
        transform: translate3d(-35%, 0, 0);
        /* opacity: 0; */
    }
}
@keyframes splitLeftReverse {
    0% {
        transform: translate3d(-35%, 0, 0);
        /* opacity: 0; */
    }
    20% {
        transform: translate3d(-30%, 0, 0);
        /* opacity: 1; */
    }
    100% {
        transform: translate3d(0, 0, 0);
        /* opacity: 1; */
    }
}
@keyframes splitRight {
    0% {
        transform: translate3d(0, 0, 0);
        /* opacity: 1; */
    }
    80% {
        transform: translate3d(30%, 0, 0);
        /* opacity: 1; */
    }
    100% {
        transform: translate3d(35%, 0, 0);
        /* opacity: 0; */
    }
}
@keyframes splitRightReverse {
    0% {
        transform: translate3d(35%, 0, 0);
        /* opacity: 0; */
    }
    20% {
        transform: translate3d(30%, 0, 0);
        /* opacity: 1; */
    }
    100% {
        transform: translate3d(0, 0, 0);
        /* opacity: 1; */
    }
}
/* ~~~~~~~ split ~~~~~~ */
/* ~~~~~~~ analog clock ~~~~~~ */
#pageEffects .clockBackground {
    background-color: #091921;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pageEffects .clockBackground .clock {
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(clock.png) no-repeat;
    background-size: contain;
    border: 5px solid #091921;
    border-radius: 50%;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.1),
        10px 10px 15px rgba(0, 0, 0, 0.5),
        inset -5px -5px 5px rgba(255, 255, 255, 0.2),
        inset 5px 5px 5px rgba(0, 0, 0, 0.7);
}
#pageEffects .clockBackground .clock:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #eee;
    border-radius: 50%;
    z-index: 15;
}
#pageEffects .clockBackground .clock .hour,
#pageEffects .clockBackground .clock .minute,
#pageEffects .clockBackground .clock .second {
    /* border: 1px solid magenta; */

    bottom: 50%;
    border-radius: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: bottom;
}
#pageEffects .clockBackground .clock .hour {
    height: 30%;
    width: 10px;
    background-color: #ff105e;
}
#pageEffects .clockBackground .clock .minute {
    height: 40%;
    width: 4px;
    background-color: #eee;
}
#pageEffects .clockBackground .clock .second {
    height: 40%;
    width: 2px;
    background-color: rgb(0, 204, 255);
}
#pageEffects .clockBackground .clock .second:after {
    content: '';
    background-color: rgb(0, 204, 255);
    width: 100%;
    height: 50%;
    margin-bottom: -30px;
    align-self: flex-end;
}
/* ~~~~~~~ analog clock ~~~~~~ */
/* ~~~~~~~ cards ~~~~~~ */
.cardsContainer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.cardsContainer .card {
    font-family: sans-serif;
    position: relative;
    width: 320px;
    height: 450px;
    background-color: #232323;
    border-radius: 20px;
    overflow: hidden;
}
.cardsContainer .card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    /* filter: grayscale(100%); */
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.cardsContainer .card:hover .circle {
    clip-path: circle(300px at 80% -20%);
}
.cardsContainer .card:after {
    content: 'Nike';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.cardsContainer .card .imgbox {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    z-index: 15;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.cardsContainer .card:hover .imgbox {
    top: 0%;
    transform: translate3d(0, 0, 0);
}
.cardsContainer .card .imgbox img {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate3d(-50%, -50%, 0) rotate(-25deg);
    object-fit: contain;
    filter: grayscale(100%);
}
.cardsContainer .card .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    transition: 1s;
    z-index: 8;
    display: flex;
    flex-direction: column;
}
.cardsContainer .card:hover .content {
    height: 220px;
}
.cardsContainer .card:hover .content .size,
.cardsContainer .card:hover .content .color {
    opacity: 1;
}
.cardsContainer .card .content h2 {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
    /* letter-spacing: 1px; */
    color: #eee;
}
.cardsContainer .card .content .size,
.cardsContainer .card .content .color {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 8px 20px; */
    transition: 0.5s;
    opacity: 0;
}
.cardsContainer .card .content .size h3,
.cardsContainer .card .content .color h3 {
    color: #eee;
    /* font-weight: 300; */
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.cardsContainer .card .content .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    /* line-height: 26px; */
    font-size: 14px;
    /* display: inline-block; */
    color: #111;
    background-color: #eee;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 3px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cardsContainer .card .content .size span:hover {
    background: #9bdc28;
}
.cardsContainer .card .content .color h3 {
}
.cardsContainer .card .content .color span {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
}
.cardsContainer .card .content .color span:nth-child(2) {
    background-color: #ff0;
}
.cardsContainer .card .content .color span:nth-child(3) {
    background-color: #9bdc28;
}
.cardsContainer .card .content .color span:nth-child(4) {
    background-color: #03a9f4;
}
.cardsContainer .card .content .color span:nth-child(5) {
    background-color: #e91e63;
}
.cardsContainer .card .content a {
    display: inline-block;
    padding: 10px 20px;
    background: #eee;
    /* border-radius: 4px; */
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition: 0.5s;
}
.cardsContainer .card:hover .content a {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.cardsContainer .card:hover .content a {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 0.5s;
}
/* ~~~~~~~ cards ~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ pageEffects ~~~~~~~~~~~~~~~~~~~~~ */

/* \/\/\/\/\/\/\/\/\/\/\/pause controls\/\/\/\/\/\/\/\/\/\/\/\/ */
#threeRotatingBars:hover > span,
#threeRotatingBars:hover > span:before,
#threeRotatingBars:hover > span:after {
    animation-play-state: running;
}
#threeRotatingBars span,
#threeRotatingBars span:before,
#threeRotatingBars span:after {
    animation-play-state: paused;
}
/*  */
/*  */
#beveledCircleGradient:hover > span {
    animation-play-state: running;
}
#beveledCircleGradient span {
    animation-play-state: paused;
}
/*  */
/*  */
#ringOfCircles:hover span:before {
    animation-play-state: running;
}
#ringOfCircles span:before {
    animation-play-state: paused;
}
/*  */
/*  */
#constantWavingBars:hover .line1,
#constantWavingBars:hover .line2,
#constantWavingBars:hover .line3,
#constantWavingBars:hover .line4,
#constantWavingBars:hover .line5 {
    animation-play-state: running;
}
#constantWavingBars .line1,
#constantWavingBars .line2,
#constantWavingBars .line3,
#constantWavingBars .line4,
#constantWavingBars .line5 {
    animation-play-state: paused;
}
/*  */
/*  */
#pausingWavingBars:hover .line1,
#pausingWavingBars:hover .line2,
#pausingWavingBars:hover .line3,
#pausingWavingBars:hover .line4,
#pausingWavingBars:hover .line5 {
    animation-play-state: running;
}
#pausingWavingBars .line1,
#pausingWavingBars .line2,
#pausingWavingBars .line3,
#pausingWavingBars .line4,
#pausingWavingBars .line5 {
    animation-play-state: paused;
}
/*  */
/*  */
#test:hover .rain {
    animation-play-state: running;
}
#test .rain {
    animation-play-state: paused;
}
/*  */
/*  */
#puddleWaves:hover span {
    animation-play-state: running;
}
#puddleWaves span {
    animation-play-state: paused;
}
/*  */
/*  */
/* ^^^^^^^^^^^^^^^^^^^^^^pause controls^^^^^^^^^^^^^^^^^^^^^^^^ */
